@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

:root {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  padding: 0;
}

code,
pre {
  font-family: var(--font-mono), monospace;
}